<div id="box">
    <div class="highlight">
        <br>
    <h3>Login</h3>
    <div class="forms">
        {{message}}<br>
        <form method="POST" action="/admin-login">
            Username:  <input type="text" name="username" ><br><br>	
            Password: <input type="password" name="password" ><br><br>	
            <input type="submit" value="Login"><br>	
        </form>
        <br>
        <a href="/admin-register"> <strong>Become a Member</strong> </a>
        <br>
        <br>
    </div>
</div>