
<div id="box">
    <div class="highlight">
        <br>
    <h3>Register</h3>
    {{message}}<br><br>
    <form method="POST" action="/admin-register">
		Username:  <input type="text" name="username" ><br><br>	
		Password: <input type="password" name="password" ><br><br>	
		<input type="submit" value="Register"><br>	
    </form>
    <br>
    <a href="/admin-login"> <strong>Already a member? Sign-in </strong></a>
    <br><br>
</div>