<div class="container">
    <div id="box-wrap" style="padding:30px;background-color:azure;">
        <br><h1>{{title}}</h1><br>
    </div>
</div>
<div><br></div>
<div id='box'>
    <div class="container-fluid" style="background-color:aliceblue;">
        <br>
        <p>For those times when you just don't know what you should read next.
            <br>
            <br>
        </p>
        <p class="lead">Let's get started ... </p>
        <form method="POST" action="/initial">
            <input type="text" name="guestName" placeholder="What's your name?" class="form-control" style="text-align:center;"><br><br>
            <input type="submit" >
        </form>
        <br>
    </div>
</div>
